a.gh-powered,
a.gh-powered:hover {
    display: inline-flex;
    align-items: center;
    padding: 6px 9px 6px 6px;
    border: none;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.3px;
    font-family: var(--font-sans-serif);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text-secondary);
    background: var(--color-surface);
    border-radius: 5px;
    box-shadow: 0 0 0 1px var(--color-border);
    cursor: pointer;
}

a.gh-powered svg {
    height: 16px;
    width: 16px;
    margin: 0 6px 0 0;
}
